First, let's start importing the necessary libraries

In [180]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import urllib.request

Now, let's get the webpage with the required information

In [181]:
contents = urllib.request.urlopen("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").read()
soup = BeautifulSoup(contents, "lxml")

And from that, get only the elements of interest from the a table

In [182]:
table = soup.find('table')
tb = table.find('tbody')
linhas = tb.find_all('tr')
lista =[]
for linha in linhas:  
    elementos = linha.find_all('td')
    listinha =[]
    for elemento in elementos:
        listinha.append(elemento.string)
    lista.append(listinha)

df = pd.DataFrame(lista, columns=['Postcode','Borough','Neighbourhood'])
df.head(10)

  Postcode           Borough  Neighbourhood
0     None              None           None
1      M1A      Not assigned  Not assigned

2      M2A      Not assigned  Not assigned

3      M3A        North York           None
4      M4A        North York           None
5      M5A  Downtown Toronto           None
6      M5A  Downtown Toronto           None
7      M6A        North York           None
8      M6A        North York           None
9      M7A      Queen's Park  Not assigned

Now it is time to organize this data; remove the string's extras (like '\n' and '\[' ) and the rows with "none/not assigned" and group by the Postcode

In [183]:
df =df.dropna()

df['Neighbourhood']= df['Neighbourhood'].str.rstrip(']\n')
df['Borough']=df['Borough'].str.rstrip()
df = df[(df != "Not assigned").all(axis =1)]
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join)
df = pd.DataFrame({"Postcode":df.index.get_level_values("Postcode"), "Borough":df.index.get_level_values("Borough"), "Neighbourhood":df.values})
df.head(10)

  Postcode       Borough                  Neighbourhood
0      M1A  Not assigned                   Not assigned
1      M1E   Scarborough                      Guildwood
2      M1K   Scarborough           East Birchmount Park
3      M1M   Scarborough       Scarborough Village West
4      M1N   Scarborough                 Cliffside West
5      M1T   Scarborough       Clarks Corners, Sullivan
6      M1V   Scarborough  L'Amoreaux East, Steeles East
7      M1W   Scarborough                L'Amoreaux West
8      M1Y  Not assigned                   Not assigned
9      M1Z  Not assigned                   Not assigned

In [178]:
df.shape

(54, 3)

----It ends the first part of this task--